body {
    font-family: "Prociono", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0; 
}

header {
    background: #0056b3;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255); 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(96, 99, 228, 0.1); 
}

ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
}

li {
    margin-right: 20px; 
}

a {
    text-decoration: none; 
    color: rgb(18, 10, 138);
}

a:hover {
    text-decoration: underline; 
}

section {
    text-align: center; 
    animation: rotate 2s linear forwards; 
}

.animado {
    font-size: 2em; 
    margin-bottom: 10px; 
}

img {
    width: 150px; 
    height: auto;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

main {
    background: #badbfc;
    color: rgb(3, 3, 3);
    padding: 20px;
    text-align: center;
}

.collage img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 5px; 
}

footer {
    background: #0056b3;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 50px; 
    height: 50px; 
    background-color: #0056b3; 
    color: white; 
    border-radius: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    font-size: 30px; 
}

.scroll-to-top:hover {
    background-color: rgb(0, 86, 179); 
}

