*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000000;

}

body {
    
    font-family: "Prociono", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #2f67bd;
       
 }

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color:white; 
}
h2{
   color:white ; 

}

nav {
    position: sticky;
    top: 0;
    background-color: rgb(127, 197, 224); 
    z-index: 1000; 
    text-align: center;
    margin-bottom: 20px;
    
}

.cuadro-nav {
    border: 2px solid #333;
    padding: 5px; 
    margin: 5px 0; 
    background-color: #f7eb86; 
}


.cuadro-nav a {
    text-decoration: none; 
    color: #0066cc; 
}

.cuadro-nav a:hover {
    color: #0044cc; 
}

nav a {
    color: #07085c; 
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

p {
    color: #24303c; 
}



fieldset {
    border: 1px solid #bdc3c7; 
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #ebeff3; 
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ebeff3; 
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
input[list] {
    width: 100%;
    padding: 10px;
    border: 1px solid #4cd389; 
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="button"] {
    color: #27ae60; 
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

caption {
    border: 1px solid #bdc3c7; 
    padding: 10px;
    text-align: left;
    background-color: #2b1b50; 
    color: #f2f3f5; 

}
table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #bdc3c7; 
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2f5e8d; 
    color: #f2f3f5; 
}

footer {
    text-align: center;
    margin-top: 20px;
  color:#665;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 50px; 
    height: 50px; 
    background-color: #0056b3; 
    color: white; 
    border-radius: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    font-size: 30px; 
}

.scroll-to-top:hover {
    background-color: rgb(0, 86, 179); 
}
