body {
    
    font-family: "Prociono", serif;
    font-weight: 400;
    font-style: normal;
       
       
 }

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #2c3e50; 
}

nav {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255); 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(96, 99, 228, 0.1); 
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: #07085c; 
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

p {
    color: #34495e; 
}



fieldset {
    border: 1px solid #bdc3c7; 
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #2c3e50; 
}

label {
    display: block;
    margin-bottom: 5px;
    color: #34495e; 
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
input[list] {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdc3c7; 
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="button"] {
    background-color: #27ae60; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

input[type="button"]:hover {
    background-color: #219653; 
}
caption {
    border: 1px solid #bdc3c7; 
    padding: 10px;
    text-align: left;
    background-color: #6a549e; 
    color: #0c0d0e; 

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #bdc3c7; 
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f1c40f; 
    color: #2c3e50; 
}

footer {
    text-align: center;
    margin-top: 20px;
  color:#665;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 50px; 
    height: 50px; 
    background-color: #0056b3; 
    color: white; 
    border-radius: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    font-size: 30px; 
}

.scroll-to-top:hover {
    background-color: rgb(0, 86, 179); 
}
